//fonts
$main-font: 'Open Sans', sans-serif;

//text color
$text-black-color: #333333;
$text-white-color: #ffffff;
$text-accent-color: #28a745;
$text-gray-color: #808080;
$text-accent-second-color: #0284d0;
$text-footer-color: #ffffff;

//background
$bg-light-color: #ffffff;
$bg-accent-first-color: #28a745;
$bg-accent-second-color: #0284d0;
$bg-button-accent: #2ebf4f;
$bg-button-accent-hover: #28a745;
$bg-member-hover: #040404;
$bg-contact-color: #f4f4f4;
$bg-footer-color: #333333;
$bg-modal-color: #333333;

//icons color
$icon-footer-color: #ffffff;
$icon-button-color: #ffffff;
$icon-footer-hover-color: #28a745;

//border
$border-white-color: #ffffff;
$border-accent-color: #28a745;
$border-accent-second-color: #0284d0;

//add-color
$basic-color: #ffffff;
$accent-color: #28a745;
$dark-color: #333333;
$worning-color: #eb5757;
